body {
  background-color: #222;
  font-family: "Courier", monospace;
}

.list{
  color: white;
  margin: 2vw;
  padding-top: 2vw;
}

li{
  margin: 1vw;
  padding-left: 2vw;
  font-weight: lighter;
}

ul{
  font-weight: bold;
}

.filler {
  color: #222;
}

.test {
  color: blue;
  transform: rotate(30, 20, 40);
}

.header{
  transform: scale(2);
  transform: scale(2);
  font-size: 5vw;
  margin-left: 3vw;
  padding-top: 3vw;
  color: white;
}

a:link{
  color: red;
  text-decoration: none;
}

a:visited{
  color: red;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: none;
}

a:active{
  color: red;
  text-decoration: none;
}

.indextext{
  font-size: 3vw;
}

svg{
  transform: scale(2);
  /*background-color: grey;*/
  text-align: center;
  fill: red;
  width: 43vw;
  height: auto;
}

p{
  color: white;
}

#dd {
  margin: 3vw;
  padding: 3vw;
}

.grid{
  display: grid;
  grid-template-columns: auto auto;
  padding: 3vw;
}

.item{
  text-align: left;
}

.onwards {
  position: fixed;
  transform: scale(0.2);
  transform-origin: right;
  width: width;

  transition: position 10s, transform-origin 5s;
}

.onwards:hover {
  position:center;
  transform-origin: left;
}

#box{
  position: relative;
  height: height;
  width: width;
  transition: background-color 3s;
  margin: 3vw;
}

#box:hover{
  background-color: white;
}

#myname{
  /*background: red;*/
  transition: transform 2s;
  transform: rotate(-180deg);
  margin: 5vw;
}

  #myname:hover {
  transform: rotate(0deg);
  margin: 3vw;
  }
